@media (max-width: 1200px) {
    .nav__menu {
        display: none;
    }
    .nav__menu-mobile {
        position: relative;
        display: flex;
        align-items: center;
        width: 30%;
        height: 55px;
    }
    .nav__menu-mobile-img {
        position: absolute;
        width: 38px;
        right: 20px;
        cursor: pointer;
    }
}
@media (min-width: 1100px) {
    .nav__menu-mobile-list {
        display: none;
    }
}